*.pyc
*.mat
*.tif
*.png
*.PNG
*.jpeg
*.mp4
*.jpg
*.pkl
*.kml
*checkpoint.ipynb
data/EVA/jpg_files/detection/Thumbs.db
*.db
data/SyncToy_7dcc47dd-7e13-4809-b274-468a42cf4055.dat
data/SyncToy_770bbf1b-b2f0-4ccb-af40-469d1da69664.dat
data/SyncToy_802d87ba-e3c0-4816-a70b-46a11eb439d0.dat

*.db
data/SyncToy_4a06387e-7840-4050-a6e8-663722aa866d.dat
*.txt
*checkpoint.ipynb
*.avi
*.csv
